@import "../helper/mixin";
$hoverThemeColor:rgb(21, 64, 151);
$themeColor:#0F357F;
$btnRed:#CC0000;
$btnYel:#EFAC1F;
$btnBk:#000;
body {
    // font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft Yahei, Heiti SC, WenQuanYi Micro Hei, Arial, sans-serif;
    font-family: "Microsoft YaHei", "PingFang SC", sans-serif; //微软雅黑：\5FAE\8F6F\96C5\9ED1
    //英文细黑：arial narrow
    //中文黑体：\9ED1\4F53
    //华文细黑: \534E\6587\7EC6\9ED1
    min-height: 100%; // min-width: 1200px;
    width: 100%; // background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

$themeColor:#0F357F;
$themeBorderColor:#E9EDF0;
$fff:#fff;
html,
body {
    height: 100%;
    font-size: 14px;
    padding-right: 3px;
}

ol,
ul {
    list-style: none;
}

body {
    a {
        text-decoration: none;
    }
}

em {
    color: #FF1834;
}


/*输入框reset*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    border: 0;
    &:focus {
        outline: none;
    }
}


/*
end*/

input[type=checkbox],
input[type=radio] {
    visibility: hidden;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.v-hidden {
    visibility: hidden;
}

.v-show {
    visibility: visible;
}


/*粘连footer方法*/


.push {
    margin-bottom: -198px;
}

.push,
.footer {
    height: 198px;
}


/* end */

// 统一的居中容器
.middleWrap {
    @include designW;
    margin: 0 auto;
}